@font-face {
    font-family: myfont;
    src: url(./asset/font/HankenGrotesk.woff2) format("woff2");
}
*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
    --primary: #000000;
    --secondary: #202b3b;
    --font-primary: #f1eff1;
    --font-secondary: #7d848d;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 40px 1fr 1fr 1fr / 70px 2.2fr 1fr;
    gap: 20px;
    padding: 15px;
    background-color: var(--primary);
    color: var(--font-primary);
    font-family: myfont , 'Times New Roman', Times, serif;
}

body>*{
    border-radius: 10px;
    padding: 30px 20px;
}
body>*:not(.today-hero){
    background-color: var(--secondary);
    box-shadow: 0px 0px 3px #18263a;
}

.sidebar{
    grid-area: 1 / 1 / 5 / 2;
}


.search{
    grid-area: 1 / 2 / 2 / 4;
    padding: 0;
}


.today-hero{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: space-between;
}
.today-info{
    display: flex;
    flex-direction: column;
}
.today-temp{
    margin-top : auto;
}
.hero-logo{
    height: 100%;
}

.today-forecast{
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.time-container{
    display: flex;
    flex: 1;
    align-items: center;
}
.time-card{
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--font-secondary);
    padding: 0 3px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.time-card:last-child{
    border-right: none;
}
.time{
    color: var(--font-secondary);
    font-weight: 600;
}
.time-temp{
    font-size: 1.3rem;
    font-weight: 650;
}


.today-condition{
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.condition-container{
    flex: 1;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 10px;
}
.condition-title{
    color: var(--font-secondary);
}


.week{
    grid-area: 2 / 3 / 5 / 4;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.day-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.day-card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.title{
    color: var(--font-secondary);
    font-weight: 700;
}
.city{
    font-size: 2.3rem;
    font-weight: 800;
}
.hero-rain{
    font-size: 1rem;
    color: var(--font-secondary);
}
.today-temp{
    font-size: 3.4rem;
    font-weight: bold;
}