*{
    box-sizing: border-box;
    outline: 1px solid red;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 40px 1fr 1fr 1fr / 70px 2fr 1fr;
    gap: 15px;
    padding: 15px;
}

body>*{
    border-radius: 10px;
}

.sidebar{
    grid-area: 1 / 1 / 5 / 2;
}
.search{
    grid-area: 1 / 2 / 2 / 4;
}
.today-hero{
    grid-area: 2 / 2 / 3 / 3;
}
.today-forecast{
    grid-area: 3 / 2 / 4 / 3;
}
.today-condition{
    grid-area: 4 / 2 / 5 / 3;
}
.week{
    grid-area: 2 / 3 / 5 / 4;
}